:root{
    --color-dark: #181818;
    --color-light: #949494;
    --color-light2: #a7a7a7;
    --color-basic: #252525;
    --color-basic2: #353535;
    --color-basic3: #1b1b1b;
    --color-blue: #2e8eca;
    --color-border-light: #4d4d4d;
    --color-border-dark: #3b3b3b;
    --color-selected-blue: #297dc2;
    --color-selected-gray: #5e5e5e;
    --color-text: #ffffff;
    --color-text-gray: #aaaaaa;
}
body{
    margin: 0;
    padding: 0;
}

#header-wrapper{
    height: 50px;
    background-color:var(--color-dark);
}

#workspace{
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
}

.file_dialog {
    font-size: 12px;
}
.file_dialog label
{
    display: inline-block;
    color: #999;
    padding: 1px 10px;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.file_dialog input[type="file"]
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.bar-button{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--color-text-gray);
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}

.panel-left{
    display: block;
    width: 250px;
    height: calc(100% - 20px);
    left: 50px;
    top: 0;
    position: absolute;
    background-color: var(--color-basic);
}
.panel-left-bar{
    display: block;
    width: 50px;
    height: calc(100% - 20px);
    left: 0;
    top: 0;
    position: absolute;
    background-color: var(--color-basic2);
}
.panel-center{
    display: block;
    width: calc(100% - 300px);
    height: calc(100% - 20px);
    top: 0;
    right: 0;
    position: absolute;
    background-color: var(--color-basic3);
}
.panel-bottom{
    display: block;
    width: 100%;
    height: 20px;
    bottom: 0;
    position: absolute;
    background-color: var(--color-blue);
}

.tabs {
    width: 100%;
    height: 100%;
    position: absolute;
}

.tabs ul{
    height: 20px;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: var(--color-basic3);
    display: flex;
}

.tabs li.tab{
    flex:auto;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 20px;
    max-width: 100px;
    position: relative;
	background-color: var(--color-dark);
    color: #888888;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid black;
}
.tabs li .tab_close{
    width: 15px;
    height: 15px;
    right: 0;
    top: 2px;
    position: absolute;
	color: #000000;
    font-size: 10px;
}
.tabs li.tab_current{
	background-color: #ededed;
	color: #222;
}
.tab-wrapper{
    height: calc(100% - 22px);
}
.tab_content{
    height: 100%;
    padding-right: 5px;
    cursor: default;
}

.tab_add{
    width: 15px;
    line-height: 15px;
    right: 5px;
    top: 2.5px;
    position: absolute;
	color: var(--color-text);
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
.tab_add:hover{
    background-color: #999;
}

.editor {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    height: calc(100% - 7px);
    outline: none;
    overflow-y: auto;
    margin: 2px 0px 0px 0px;
    padding: 5px 0px 0px 48px;
    counter-reset: line;
    background-color: var(--color-basic3);
    color: var(--color-text);
    box-shadow: 0px 2px 5px var(--color-dark) inset;
  }
  
  .editor div {
    display: block;
    position: relative;
    white-space: pre-wrap;
    cursor: text;
  }
  
  .editor div::before {
    content: counter(line);
    counter-increment: line;
    position: absolute;
    right: calc(100% + 16px);
    opacity: 0.5;
  }
  
  .editor::-webkit-scrollbar {
    width: 10px;
  }
  .editor::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
  }
  .editor::-webkit-scrollbar-track {
    background-color: var(--color-basic);
  }
  .editor::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-light2);
  }

  #intellisense {
      width : 300px;
      max-height : 200px;
      overflow-y: auto;
      position: absolute;
      background-color: var(--color-basic2);
      border: 1px solid var(--color-border-light);
      color: var(--color-text);
      box-shadow: 5px 5px 7px var(--color-dark);
  }
  ul.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  ul.list li{
    height: 15px;
    padding: 2px 0px 2px 10px;
    font-size: 10px;
    cursor: pointer;
}
ul.list li:before{
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 2px 2px 0px;
}

li.list_selected {
    background-color: var(--color-selected-blue);
}

.explorer-wrapper {
    width: 250px;
    height: 50%;
    border-bottom: 1px solid var(--color-border-light);
}
.explorer-bar {
    width: 100%;
    height: 22px;
    padding: 3px 0 0 10px;
    font-size: 11px;
    color: var(--color-text-gray);
    border-bottom: 1px solid var(--color-border-dark);
}

.tree {
    width: 100%;
    height : calc(100% - 26px);
    color: var(--color-text);
    font-size: 11px;
}
.tree ul, .tree ul li{
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tree ul li:hover{
    background-color: var(--color-selected-gray);
}
.tree_bar {
    height: 20px;
}
.tree_icon{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    position: absolute;
}
.tree_text{
    padding-left : 25px;
}

#contextMenu { 
    position: absolute;
    width: 200px;
    min-height: 20px;
    background: #f2f4f6;
    overflow: hidden;
    font-size: 12px;
} 
ul.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--color-basic2);
    border: 1px solid var(--color-border-light);
    color: var(--color-text);
    box-shadow: 5px 5px 7px var(--color-dark);
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: default;
}
.menu > li  {
    width: 100%;
    height: 20px;
    padding-left: 10px;
    flex:auto;
    position: relative;

}
.menu > li:hover {
    background-color: var(--color-selected-gray);
}